---
const pageTitle = 'Series'

import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

import BaseLayout from '@/layouts/BaseLayout.astro'
import siteMetadata from '@/data/siteMetadata'

import Link from '@/components/Link.astro'
import ViewsCounter from '@/components/ViewsCounter.astro'
import Newsletter from '@/components/Newsletter.astro'

const series = (await getCollection('series')).sort(
	(a, b) => b.data.published_at - a.data.published_at
) as CollectionEntry[]
---

<BaseLayout title={pageTitle} description={siteMetadata.description} type="website">
	<Newsletter />
	<main class="divide-y divide-zinc-500 overflow-hidden rounded-xl border border-zinc-500">
		<h1 class="text-4xl font-bold p-4">Series</h1>
		{
			series.map((post) => (
				<div class="flex no-underline items-baseline justify-between gap-x-4 p-4 max-sm:flex-col">
					<Link href={`/blog/series/${post.slug}`}>
						<p class="font-medium">{post.data.title}</p>
					</Link>
					<ViewsCounter slug={post.slug} trackViews={false} />
				</div>
			))
		}
	</main>
</BaseLayout>
