---
import ViewsCounter from '@/components/ViewsCounter.astro'
import Link from '@/components/Link.astro'

const { blog } = Astro.props as {
	blog: {
		slug: string
		data: { title: string }
	}[]
}
const { title } = Astro.props
---

<div class="overflow-hidden rounded-xl border border-yellow-500 bg-stone-900">
	<div class="relative border-b border-yellow-500 px-4 py-3">
		<div class="flex items-center gap-x-2">
			<p class="font-bold">{title}</p>
		</div>
	</div>
	<div class="divide-y divide-purple-400 border-yellow-500">
		{
			blog.map((post) => (
				<div class="flex no-underline items-baseline justify-between gap-x-4 p-4 max-sm:flex-col">
					<Link href={`/blog/${post.slug}`}>
						<p class="font-medium">{post.data.title}</p>
					</Link>
					<ViewsCounter slug={post.slug} trackViews={false} />
				</div>
			))
		}
	</div>
</div>
