---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Prose from '@/components/Prose.astro'
import Title from '@/components/Title.astro'
import Link from '@/components/Link.astro'
import { hEntryDate, displayDate } from '@/utils/formatters'
import Newsletter from '@/components/Newsletter.astro'

const { title, description, published_at, lastModified, slug } = Astro.props
---

<BaseLayout
	title={title}
	description={description}
	published_at={published_at}
	updated_at={lastModified}
	slug={slug}
	type="website"
>
	<main class="col-span-10 flex flex-col lg:col-span-7">
		<Prose>
			<div class="relative flex w-full flex-col">
				<div class="flex items-center justify-between gap-x-3 mb-3.5 text-zinc-100">
					<time
						datetime={hEntryDate(published_at)}
						class="dt-published"
						aria-label={`Published at: ${displayDate(published_at)}`}
						itemprop="dateModified"
					>
						{displayDate(lastModified)}
					</time>
					<Link href={slug} class="u-url flex">⌘ Permalink</Link>
				</div>
				<Title>{title}</Title>
			</div>
			<div class="e-content entry-content">
				<slot />
			</div>
		</Prose>
	</main>
	<Newsletter />
</BaseLayout>
